@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Euclid";
    src: url('../assets/fonts/Euclid.ttf');
}

@font-face {
    font-family: "Euclid_Bold";
    src: url('../assets/fonts/Euclid_Bold.ttf');
}

@font-face {
    font-family: "Euclid_SemiBold";
    src: url('../assets/fonts/Euclid_SemiBold.ttf');
}

@font-face {
    font-family: "Hearthless";
    src: url('../assets/fonts/Heartless.ttf');
}

@font-face {
    font-family: "Boffin";
    src: url('../assets/fonts/Boffin.otf');
}

@font-face {
    font-family: "Boffin-B";
    src: url('../assets/fonts/BoffinBold.otf');
}

@font-face {
    font-family: "Boffin-M";
    src: url('../assets/fonts/BoffinCondensed.otf');
}

@font-face {
    font-family: "SPArielBG";
    src: url('../assets/fonts/SPArielBG.otf');
}

:root {
    font-family: "Euclid", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #EEEEEE;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
}
 
body {
    background-color: #181516;
}

h1 {
    line-height:normal;
    font-size: 80px;
    color: #EEEEEE
}

h2 {
    line-height:normal;
    font-size: 48px;
    color: #EEEEEE
}

h3 {
    font-size: 24px;
}

p {
    color:#EEEEEE
}

button {
    background-color: #393646;
}

textarea {
    color: #181516;
}

* {
    ::-webkit-scrollbar {
        width: 6px;
        padding-left: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
      
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1px;
}

input {
    padding: 10px;
    border-width: 1.4px;
    border-color: #151718;
    color: #151718;
    min-height: 2.5rem;
    border-radius: 2px;
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.productCarousel.carousel-root .carousel {
    width: auto;
}

.productCarousel.carousel-root .carousel.carousel-slider {
    width: 100%;
}

.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
    border-radius: 10px;
}

.productCarousel.carousel-root .carousel .thumbs-wrapper {
    margin: 0;
}

.productCarousel.carousel-root .carousel .thumb {
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.productCarousel.carousel-root .carousel .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productCarousel.carousel-root .carousel .thumb:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}

.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
    border: 0;
}

.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
    opacity: 0.2;
}

.productCarousel .control-arrow {
    display: none;
}

@media screen and (max-width: 767px) {
    .productCarousel.carousel-root {
        flex-direction: column;
    }

    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .productCarousel.carousel-root .carousel .thumbs {
        transform: none !important;
        flex-direction: column;
        display: flex;
        gap: 10px;
    }

    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
        margin: 0;
    }
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */

.markdown ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin: 20px 0;
}

.markdown ul li {
    margin: 10px 0;
}